    <p>
      <input type="text" id="search">
	  <input type="button" onclick="myFunction()" value="Search" id="btn">
	</p>



<!--<script>

var i=1;
	function myFunction()
	{
		i++;
		//alert(i);
		 //$("#itemSet").append($("#new_line_item_form").html());
		
		var product_name = $("#search").val();
		
        $.ajax({
		   type: 'get',
		   url: '/orders/search_product',
		   data: {
		   	       product_name:  product_name
		         },
		   success: function(data){
		   	alert(data[0]["name"]);
		   	
		   $('#'+new_id).val(data[0]['sku']);
		   	$('#'+id1).val(data[0]['cost']);
		   	$('#'+id2).val(data[0]['quantity']);

		   	 

		   	//prepend("<li>Product Name:"+data[0]['name']+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SKU:"+data[0]['sku']+"</li>")
		    
		   },
		   error: function(data){
		       
		   }
	 	});
 
	}

</script> 
-->