  <div class="hide" id="new_line_item_form">
    <%= render partial: "line_item_form" %>
  </div>

  <div id="itemSet">
    <%= render partial: "line_item_form" %>
  </div>
  
 <!-- <a href="javascript:;" id="addNewItem">Add New Tag</a> -->

    <p>
      <input type="text" id="search">
	  <input type="button" onclick="myFunction()" value="Search" id="btn">
	  <%#=params[:product_list]%>    
	</p>



<script>
	function myFunction()
	{

		var new_id = new Date().getTime();
		var id1 = new Date().getTime();
		var id2 = new Date().getTime();
		var product_name = $("#search").val();
		$("#btn").click(function(){
			  	//alert('clicked');
			    $("#itemSet").append($("#new_line_item_form").html());
			  });
		//var sku=[];
        $.ajax({
		   type: 'get',
		   url: '/orders/search_product',
		   data: {
		   	       product_name:  product_name
		         },
		   success: function(data){
		   	//alert(data[0]["name"]);
		   	
		   //	$('#'+new_id).val(data[0]['sku']);
		   	//$('#'+id1).val(data[0]['cost']);
		   	//$('#'+id2).val(data[0]['quantity']);

		   	 

		   	//prepend("<li>Product Name:"+data[0]['name']+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SKU:"+data[0]['sku']+"</li>")
		    
		   },
		   error: function(data){
		       
		   }
	 	});
 
	}

</script>